<div *ngIf="status">
    <div class="close">
      <mat-icon (click)="closeDialog()" class="closeIcon">{{'close'}}</mat-icon>
    </div>
    <div class="divboxsize" style="color:#0065FF !important;font-weight:bold">
      <div class="imageSuccess"><div class="iconSuccess"><i class="fa fa-check" aria-hidden="true"></i></div></div>
      <div class="message">{{'Tickets Booked successfully'}}</div>
    </div>
  </div>
  <div *ngIf="!status">
    <div class="close">
      <mat-icon (click)="onlyCloseDialog()" class="closeIcon">{{'close'}}</mat-icon>
    </div>
    <div class="divboxsize" style="color:#f16969 !important;font-weight:bold">
      <div class="imageSuccess"><div class="iconSuccess"><i class="fa fa-times" aria-hidden="true"></i></div></div>
      <div class="message">{{'Booking Failed'}}</div>
    </div>
  </div>
