.container-fluid {
    background-image: url('/assets/images/movie-booking.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;

    .card {
        background-color: black !important;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right, violet, indigo, #c5c5d7, #9fdf9f, yellow, orange, red);
        // color: blue;
        font-weight: 600;
        height: 280px;
        border: 2px solid;
        border-radius: 10px;
	    padding: 10px;
		border-image-slice: 1;
		border-image-source: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
		
    }
}

